.shot {
    position                  : absolute;
    top                       : 0;
    left                      : 0;
    animation-name            : shot_fadeout;
    animation-iteration-count : 1;
    animation-duration        : 1s;
    animation-fill-mode       : forwards;
    z-index                   : 10000;
    overflow                  : hidden;
}

@keyframes shot_fadeout {
    0% {
        background-color : #FFFECC;
    }

    2% {
        background-color : #000;
    }

    5% {
        background-color : #FF9B87;
    }

    20% {
        background-color : #FF2A00;
    }

    100% {
        background-color : #000;
    }
}

* {
    cursor : crosshair !important;
}