.shot {
    position                  : absolute;
    top                       : 0;
    left                      : 0;
    animation-name            : shot_fadeout;
    animation-iteration-count : 1;
    animation-duration        : 1s;
    animation-fill-mode       : forwards;
    z-index                   : 10000;
    overflow                  : hidden;
    pointer-events            : none;
}

@keyframes shot_fadeout {
    0% {
        background-color : #FFFECC;
    }

    2% {
        background-color : #000;
    }

    5% {
        background-color : #FF9B87;
    }

    20% {
        background-color : #FF2A00;
    }

    100% {
        background-color : #000;
    }
}

* {
    cursor : crosshair !important;
}

@keyframes rotate_and_dropout0 {
    0% {
        transform : rotate(0deg);
    }

    1% {
        transform : rotate(0deg) translate(-14px, -51px);
    }

    100% {
        transform : rotate(0deg) translate(7px, 6000px);
    }
}

@keyframes rotate_and_dropout1 {
    0% {
        transform : rotate(0deg);
    }

    1% {
        transform : rotate(0deg) translate(25px, -93px);
    }

    100% {
        transform : rotate(0deg) translate(7px, 6000px);
    }
}

@keyframes rotate_and_dropout2 {
    0% {
        transform : rotate(0deg);
    }

    1% {
        transform : rotate(0deg) translate(-8px, -113px);
    }

    100% {
        transform : rotate(0deg) translate(7px, 6000px);
    }
}

* {
    cursor : crosshair !important;
}